<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation account</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Hello, <%= user.name %></p>
    <p>
      Thank you for registration to LMS. To activate your accaunt, please use
      the following activation code:
    </p>
    <h2><%= activationCode %></h2>
    <p>
      Please enter this code on the activation page within the next 5 minutes
    </p>
  </body>
</html>
